.container-product{
    padding: 5rem 12.5rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  /* ----------------------------------------------- */
  .recommand-block{
    display: -moz-box;
      display: flex;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      flex-direction: column;
  }
  /*  ------------------------------------------ */
  .recommand-block .recommand-block-list{
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    grid-gap: 1rem;
  }
  /*  -------------------------------------- */
  .lazyload-wrapper {
  
  }
  /*  --------------------------------- */
  
  .recommand-block-list .recommand_list-item__big:hover {
    border: 0.2rem solid var(--green);
    border-radius: 1.2rem;
  }

  .recommand-block-list .recommand_list-item__big {
    display: -moz-box;
    display: flex;
    width: 100%;
  }
  /* ----------------------------- */
  .ProductItem_product-item {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: start;
    align-items: flex-start;
    outline: 0;
    padding: 1.2rem;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 12px rgb(15 61 145 / 12%);
    border-radius: 1.2rem;
    text-transform: none;
    font-size: medium;
  }
  /*  ------------------------ */
  .ProductItem_product-item .productItem_head{
    display: -moz-box;
      display: flex;
      position: relative;
      text-align: center;
      -moz-box-align: center;
      align-items: center;
      -moz-box-pack: center;
      justify-content: center;
      margin-bottom: 10px;
      width: 100%;
      border-radius: 12px;
  }
  .ProductItem_product-item .productItem_head .productItem_image{
    cursor: pointer;
      margin: 0;
      line-height: 0;
  }
  /*  ----------------------- */
  .ProductItem_product-item .productItem_body{
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    width: 100%;
  }
  .ProductItem_product-item .productItem_brand-null{
    height: 42px;
  }
  .ProductItem_product-item .productItem_title{
    position: static;
      left: 0;
      top: 32px;
      -moz-box-flex: 0;
      flex: none;
      -moz-box-ordinal-group: 2;
      order: 1;
      flex-grow: 0;
      margin: 5px 0;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 24px;
      white-space: wrap;
      color: #112950;
      height: 50px;
      display: -webkit-box;
      width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
      font-size: medium;
  }
  .ProductItem_product-item .productItem_original-price{
    display: -moz-box;
      display: flex;
      -moz-box-align: center;
      align-items: center;
      position: static;
      -moz-box-flex: 0;
      flex: none;
      -moz-box-ordinal-group: 2;
      order: 1;
      flex-grow: 0;
      margin: 0;
      width: 100%;
      height: 22px;
      left: 0;
      top: 0;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 22px;
      -moz-text-decoration-line: line-through;
      text-decoration-line: line-through;
      color: #b2bac6;
  }
  .ProductItem_product-item .productItem_discount-price{
    display: -moz-box;
      display: flex;
      -moz-box-align: center;
      align-items: center;
      position: static;
      width: 100%;
      height: 24px;
      left: 0;
      top: 22px;
      -moz-box-flex: 0;
      flex: none;
      -moz-box-ordinal-group: 2;
      order: 1;
      flex-grow: 0;
      margin: 5px 0;
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 24px;
      color: #0f62f9;
      font-size: large;
  }
  .ProductItem_product-item .productItem_discount-price .ProductItem_discount-price-style{
    cursor: pointer;
  }
  .ProductItem_product-item .productItem_link{
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
  }
  .ProductItem_product-item .productItem_add-to-card{
    display: -moz-box;
      display: flex;
      -moz-box-align: center;
      align-items: center;
      -moz-box-pack: center;
      justify-content: center;
      position: static;
      -moz-box-flex: 0;
      flex: none;
      -moz-box-ordinal-group: 2;
      order: 1;
      flex-grow: 0;
      margin: 5px 0;
      height: 44px;
      width: 100%;
      border: none;
      border-radius: 12px;
      font-style: normal;
      font-size: 1.5rem;
      line-height: 24px;
      background: #5dac46;
      color: #fff;
      cursor: pointer;
  }
  /*  --------------------------- */